.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  /* gap: 40px 100px; */
  width: 100%;
  font-weight: 700;
}

.created,
.completed {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.createdTitle {
  color: #4ea8de;
  font-size: 14px;
}

.completedTitle {
  color: #8284fa;
  font-size: 14px;
}

.counter {
  color: #d9d9d9;
  background-color: #333;
  border-radius: 999px;
  padding: 2px 8px;
  font-size: 12px;
}

@media (width <= 991px) {
  .stats {
    max-width: 100%;
    /* gap: 24px 16px; */
  }

  .counter {
    white-space: normal;
  }
}
